
@{
    ViewBag.Title = "Index";
}
<link rel="stylesheet" href="~/assets/css/login.css" />

<h3>Login</h3>

<div class="container">
    <div class="acesso">
        <img src="~/assets/images/img-01.png" />

        <p>
            <label>Nome</label>
            <input placeholder="nome" type="text" value="" /> <br />

            <label>Senha</label>
            <input placeholder="senha" type="text" value="" />

            <link href="#" />Esqueceu a senha?
        </p> <br />
        
    </div>





</div>


